{% extends 'base.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block body %}
    <style>
        .wrapper {
            margin: 1em auto;
            width: 95%;
        }
    </style>

    <div class="wrapper">
       <h1>{{ titulo }}</h1>
       <p> {{ msg }} </p>
       {{ form(form) }}
    </div>
{% endblock %}