{% extends 'base.html.twig' %}

{% block title %}Pessoas{% endblock %}

{% block body %}
    <style>
        .wrapper {
            margin: 1em auto;
            width: 95%;
        }
    </style>

    <div class="wrapper">
        <h1>Pessoas</h1>
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NIS</th>
                <th scope="col">Nome</th>
            </tr>
            </thead>
            <tbody>
            {% for cidadao in cidadaos %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ cidadao.nis }}</td>
                    <td>{{ cidadao.nome }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}